* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Khula' , sans-serif;
  display: flex;

  justify-content: center;
  align-items: center;
  height: 100vh;

  background-color: deepskyblue;

  padding: 1rem;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: blueviolet;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: cadetblue;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: cornflowerblue;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: darkslateblue;
}